<section id="display-products">
    <h1>Hello, friend!</h1>

    <div class="card-conatiner">
        <div class="card">
            <div class="card-body">
                <img width=50% src="https://images.pexels.com/photos/970089/pexels-photo-970089.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
                <h1>Product 1</h1>
                <h3>Price</h3>
                <p>Description</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img width=50% src="https://images.pexels.com/photos/970089/pexels-photo-970089.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
                <h1>Product 2</h1>
                <h3>Price</h3>
                <p>Description</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img width=50% src="https://images.pexels.com/photos/970089/pexels-photo-970089.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
                <h1>Product 3</h1>
                <h3>Price</h3>
                <p>Description</p>
            </div>
        </div>
    </div>
</section>